@CHARSET "UTF-8";

  body, table, label, span
  {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 11px;
      color: #2C427C;     
  }

  body
  {  text-align: center;  }

input[type=text], input[type=password], select
{
    border: solid 1px #B2BABB; 
    font-size: 10.5px;  
    padding: 1px;
    width: 106px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; 
    -khtml-border-radius: 3px;
    border-radius: 3px; }  
    
.form-group input[type=password]
{    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 9px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.modal-header .close {
    color: #A31010 !important;
    font-size: 30px;
}
.modal-header {
    padding: 0px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header .modal-title {
    text-align: center;
}
.modal-header h2 {
    font-size: 22px;
    color: #a52a2a;
}


textarea{
    border: solid 1px #3A4F8B;
    font-size: 10.5px;
    padding: 2px 3px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; 
    -khtml-border-radius: 3px;
    border-radius: 3px;   
}

input[readonly]
{
  background-color:#E8E8E8 !important; 
  /*color:#303030 !important;*/
}

input[disabled]
{
  background-color:#F5F5F5 !important; 
  color:#303030 !important;
}

/*----------------- Header CSS ------------------------*/
  #hmain
  {
    width:100%;
    height:100%;
    margin:0px; 
    left:0%;
    right:0%;
    top:0%;
 /*    border-width: 1px;
    border-style:  solid; */
    border-color: #000000;
    position:absolute;
  /*   background-size: auto auto;
background-image: url("../images/bg-light-texture.jpg");
background-attachment: fixed; */

/*   background-image: -ms-linear-gradient(bottom, #384E7D 0%, #7B8EC5 100%); 
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#384E7D,endColorStr=#7B8EC5);
    background: -moz-linear-gradient(top, #3A4F8B 0%, #7B8EC5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3A4F8B), color-stop(100%,#7B8EC5));  */
    
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f5fc+0,9fd8ef+26,bfe8f9+64,2ab0ed+99 */
/* background: #e4f5fc;
background: -moz-linear-gradient(-45deg, #e4f5fc 0%, #9fd8ef 26%, #bfe8f9 64%, #2ab0ed 99%); 
background: -webkit-linear-gradient(-45deg, #e4f5fc 0%,#9fd8ef 26%,#bfe8f9 64%,#2ab0ed 99%); 
background: linear-gradient(135deg, #e4f5fc 0%,#9fd8ef 26%,#bfe8f9 64%,#2ab0ed 99%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 ); */

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+39,2693cd+100 */
background: #efefef; /* Old browsers */
background: -moz-linear-gradient(45deg, #efefef 39%, #2693cd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #efefef 39%,#2693cd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #efefef 39%,#2693cd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#2693cd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  #udiv
  {
   /*  width:65%;
    height:60%;
    margin:0px; 
     right:0%;*/ 
    left:0%;   
    top:0%;
    border-width: 0px;
    border-style:  solid;
    border-color: #7676B8;
    position:absolute;  
  }  

  #uDetails
  {
    width:300px;
   /*  height:40%; */
    margin:0px; 
    right:0%;
    bottom:3%;
    border-width: 0px;
    border-style:  solid;
    border-color: #7676B8;
    position:absolute;  
  }  

  .header
  {
    /*color:#00679E;*/
    color:#D3DCE9;
    padding-top:3px;
    padding-left:5px;
   /*  font-size:18px; */
   font-size:1.6em;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
  }
 
  .uDetFont
 {
    /*color:#00679E;*/
    color:#bd7c60;
    padding-top:3px;
    padding-left:4px;
    font-size:12px;
    /* font-family:tohma,Verdana, Arial, Helvetica, sans-serif; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:bold; 	
 }
/*  .uDetFont:hover {color:#D72B78} */

  #subhmain
  {
    width:100%;
    height:100%;
    margin:0px; 
    left:0%;
    right:0%;
    top:0%;
    border-width: 0px;
    border-style:  solid;
    border-color: #000000;
    position:absolute;
    /*background-color: #0068A1;*/
    background-color: #D72B78; /*#FBAF29;*/
  }	

  .sub-header
  {
    color: #ffffff; /*#000000;*/
    padding-top:6px;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:normal;
  }

 /*------------------- Form CSS  -----------------------*/
 
   #fmainDiv
  {
    width:100%;
    height:100%;
    margin:0px; 
    left:0%;
    right:1%;
    top:0%;
    border-width: 0px;
    border-style:  solid;
    border-color: #9CD5FF;
    position:absolute;
    background-color: #ffffff;/*previous : #9eb9d4*/
  }
  
  #ftitleHeader
  {
    width:100%;
    height:25px;
    margin:1px 0px 0px 0px; 
    left:0%;
    right:0%;
    top:0%;
    border-width: 0px;
    border-style:  solid;
    border-color: #7676B8;
    position:absolute;	
	color: #233876 !important;
	font-size : 18px;
	font-weight:bold;
	font-family: verdana;
	padding-top: 6px;
	padding-left: 10px;
	padding-top: 3px;
	background: transparent;
  }
  
  .type
  {
  	font-weight:bold;
  	font-family:verdana,Arial, Helvetica, sans-serif;
  	font-size:11px;
  	color:#6E0000;
  }
  
  .butt
  {
      height: 20px;
      background: #A4A4A4 no-repeat left top;
      text-decoration: none;
      /*color: #002534;*/
      color: #ffffff;
      border: none;
      width:65px;
      font-size: 12px;
      font-weight: bold;
      border: solid 1px #687DB4;
      box-shadow:2px 2px 1px #336376;
      cursor: pointer;
      background-image: -ms-linear-gradient(bottom, #336376 0%, #78B9D2 100%); /*ie10*/
      filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#336376,endColorStr=#78B9D2);
      background: -moz-linear-gradient(top, #336376 0%, #78B9D2 100%); /* firefox */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#336376), color-stop(100%,#78B9D2)); /* webkit */    
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; 
      -khtml-border-radius: 3px;
      border-radius: 3px;     }
  
  .butt:hover
  {
      height: 20px;
      background: #A4A4A4 no-repeat left top;
      text-decoration: none;
      /*color: #002534;*/
      color: #ffffff;
      border: none;
      width:65px;
      font-size: 12px;
      border: solid 1px #687DB4;
      box-shadow:2px 2px 1px #336376;
      cursor: pointer;
      background-image: -ms-linear-gradient(bottom, #78B9D2 0%, #336376 100%); /*ie10*/
      filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#78B9D2,endColorStr=#336376);
      background: -moz-linear-gradient(top, #78B9D2 0%, #336376 100%); /* firefox */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78B9D2), color-stop(100%,#336376)); /* webkit */    
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; 
      -khtml-border-radius: 3px;
      border-radius: 3px;   
  }

  .butt
  {
      height: 20px;
      background: #A4A4A4 no-repeat left top;
      text-decoration: none;
      color: #002534;
      /*color: #ffffff;*/
      border: none;
      width:65px;
      font-size: 12px;
      font-weight: bold;
      border: solid 1px #687DB4;
      box-shadow:2px 2px 1px #336376;
      cursor: pointer;
      background-image: -ms-linear-gradient(bottom, #336376 0%, #78B9D2 100%); /*ie10*/
      filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#336376,endColorStr=#78B9D2);
      background: -moz-linear-gradient(top, #336376 0%, #78B9D2 100%); /* firefox */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#336376), color-stop(100%,#78B9D2)); /* webkit */    
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; 
      -khtml-border-radius: 3px;
      border-radius: 3px;     
  }
  
  .butt:disabled
  {
      height: 20px;
      background: #A4A4A4 no-repeat left top;
      text-decoration: none;
      color: #002534;
      border: none;
      width:65px;
      font-size: 12px;
      border: solid 1px #687DB4;
      box-shadow:2px 2px 1px #336376;
      cursor: pointer;
      background-image: -ms-linear-gradient(bottom, #78B9D2 0%, #336376 100%); /*ie10*/
      filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#78B9D2,endColorStr=#336376);
      background: -moz-linear-gradient(top, #78B9D2 0%, #336376 100%); /* firefox */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78B9D2), color-stop(100%,#336376)); /* webkit */    
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; 
      -khtml-border-radius: 3px;
      border-radius: 3px;   
  }
  
  .modalBackground
  {
	filter: Alpha(Opacity=75); 
   	-moz-opacity:0.75; 
   	opacity: 0.75;
   	width: 102%; 
   	height: 102%; 
   	background-color: black;
   	position: absolute;
   	z-index: 500;
   	top: 0px; left: 0px;
 }
 
  .alertBackground
  {
	filter: Alpha(Opacity=75); 
   	-moz-opacity:0.75; 
   	opacity: 0.75;
   	width: 102%; 
   	height: 102%; 
   	background-color: #d2d2d2;
   	position: absolute;
   	z-index: 500;
   	top: 0px; left: 0px;
 } 

  .errMessage { 
    font-weight:normal;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#ff0000;
    text-align: left;
    vertical-align: top;
  }
  
  .require {
    font-weight:normal;
    font-family:Arial, Helvetica, sans-serif;
    color:#ff0000;
    font-size:14px;
  }
  
  
  /*-------------------- This is for autosuggest created by OM (20/10/2012)---------------------------*/

.outerDiv{
  position:absolute; 
  font-size:14px;
  font-weight:normal; 
  font-family:Cambria,Arial,Microsoft Sans Serif;
  font-style:normal;
  color: #6d5aa5;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; 
  -khtml-border-radius: 7px;
  border-radius: 7px;   
  border-width: 1px;
  border-style:  solid; 
  border-color: #ACC1FD;
  overflow:auto;
  overflow-x:hidden;
  background-color: #F3F3F3;
  visibility:visible;
  filter:alpha(opacity=90);
  z-index: 1000;
}

.outerClntDiv{
  position:absolute; 
  font-size:14px;
  font-weight:normal; 
  font-family:Cambria,Arial,Microsoft Sans Serif;
  font-style:normal;
  color: #6d5aa5;
  width:350px; 
  height:75px; 
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; 
  -khtml-border-radius: 7px;
  border-radius: 7px;   
  border-width: 1px;
  border-style:  solid; 
  border-color: #ACC1FD;
  overflow:auto;
  overflow-x:hidden;
  background-color: #72A9C9;
  visibility:visible;
  filter:alpha(opacity=90);
  z-index: 1000;
}

.outerClntDiv0{
  position:absolute; 
  font-size:14px;
  font-weight:normal; 
  font-family:Cambria,Arial,Microsoft Sans Serif;
  font-style:normal;
  color: #6d5aa5;
  width:450px; 
  height:125px; 
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; 
  -khtml-border-radius: 7px;
  border-radius: 7px;   
  border-width: 1px;
  border-style:  solid; 
  border-color: #ACC1FD;
  overflow:auto;
  overflow-x:hidden;
  background-color: #F3F3F3;
  visibility:visible;
  filter:alpha(opacity=90);
  z-index: 1000;
}

.innerDiv{
  position:absolute;
  width:100%;
}

.comlist {
    font-weight: normal;
    font-size: 7pt;
    margin: 0px;
    color: #000000;
    font-family: verdana; 
    background-color: #DACDFF;
}

.comlist_link_over {
    font-weight: normal;
    font-size: 7pt;
    width:300px;
    margin: 0px;
    color: #8A4117;
    font-weight:bold;
    font-family: verdana; 
    background-color: #DACDFF;
}

.tRow0 {margin-left:auto;margin-right:auto;font-weight: normal; font-size: 7pt; COLOR: #000000; font-family: verdana; word-break:break-all;word-wrap:break-word;text-decoration:none;border-bottom-style:solid; border-bottom-width:1px;border-bottom-color:#ACC1FD;}

.hyper0:link{margin: 0px; text-decoration: none; color:#000000;}
.hyper0:visited{margin: 0px; text-decoration: none; color:#000000;}
.hyper0:active{margin: 0px; text-decoration: none; color:#000000;}
.hyper0:hover{margin: 0px; text-decoration: none; color:#000000;}

/*----------------------------------------------------------------------------------------------*/
 
 /*------------------------ Modal Window Tables ------------------------------------------------*/
 .modalHeader
 {
 	background-color:#8A0808;
 	color: #ffffff;
 	font-weight: bold;
 	margin: 0px;
 	font-family: verdana;
 	font-size: 11px;
 }
  .modalClose
 {
 	background-color:#8A0808;
 	color: #ffffff;
 	font-weight: bold;
 	margin: 0px;
 	font-family: verdana;
 	font-size: 11px;
 	cursor:pointer;
 }
 
 .modalTabHeader
 {
 	color: #000000;
 	background-color:#857CD6;
 	font-weight: bold;
 	margin: 0px;
 	font-family: verdana;
 	font-size: 11px;
    background-image: -ms-linear-gradient(bottom, #ffffff 0%, #8A0808 100%); /*ie10*/
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#8A0808);
    background: -moz-linear-gradient(top, #ffffff 0%, #8A0808 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#8A0808)); /* webkit */    
 }
 
  .modalTabRow0
 {
 	color: #000000;
 	background-color:#f9f9f9;
 	font-weight: normal;
 	margin: 0px;
 	font-family: verdana;
 	font-size: 11px;
 }
 /*---------------------------------------------------------------------------------------------*/
 
 /*--------------------------------  Grid Table ------------------------------------------------*/
 table#myGrid
 {
 	margin: 0px;
 	font-family: verdana;
 	font-size: 11px;
 }
 
 table#myGrid th
 {
  	font-weight: normal;
  	color: #ffffff;
 	background-color:#006195;
 	/*background-color:#FBAF29;*/
 }
 
 table#myGridHeader
  {
 	margin: 0px;
 	font-family: verdana;
 	font-size: 12px;
 }
 
 table#myGridHeader th
 {
  	font-weight: bold;
  	color: #000000;
 	/*background-color:#006195;*/
 	background-color: #0072B0;
 	text-align:left;
 } 
 
  /*--------------------------------  Form tabs ------------------------------------------------*/
 .fileTabs
 {
    border-left:1px solid #7070FF;
    border-right:1px solid #7070FF;
    border-top:1px solid #7070FF;
    background: #c3c3e2;
    width: 10%;
    padding: 3px 0;
    margin: 1px 2px 0 0;
    text-align: center;
    font-family: verdana, sans-serif;  /* tahoma, verdana, sans-serif */
    font-size: 11px;  /* 85% */
    font-weight:normal;
    text-decoration: none;
    color: #000; /*#333 */
    cursor:pointer;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	 border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.fileTabs_show
{
    border-left:1px solid #7070FF;
    border-right:1px solid #7070FF;
    border-top:1px solid #7070FF;
    background: #F4F4F4;
    width: 10%;
    padding: 3px 0;
    margin: 1px 2px 0 0;
    text-align: center;
    font-family: verdana, sans-serif;  /* tahoma, verdana, sans-serif */
    font-size: 11px;  /* 85% */
    font-weight:bold;
    text-decoration: none;
    color: #000; /*#333 */
    cursor:pointer;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	 border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.mandatory { 
  font-weight:normal;
  font-family:Arial, Helvetica, sans-serif;
  display: inline;
  font-size:12px;
  color:#ff0000;
  text-align: left;
  padding-left:2px;
  vertical-align: top;
}

.help { 
  font-weight:normal;
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#ff0000;
  text-align: left;
  text-decoration: none;
}    